node_modules
.DS_Store
lerna-debug.log
npm-debug.log
mochawesome-report
.happypack
yarn-error.log
tempDir
coverage/

.eslintcache
databases
build
.vscode/
.tmp/
tmp

lib
dist


npmrc

*~
*.swp
.DS_Store
npm-debug.log
lerna-debug.log
npm-debug.log*
es/
dist/
.idea/
yarn.lock
yarn.error